<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Asset Management System</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Asset Management System</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/assets}">Student Management</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<br>
<div class = "container">
    <div class = "row">
        <div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class = "text-center"> Create New asset </h1>
            <div class = "card-body">
                <form th:action="@{/assets}" th:object = "${asset}" method="POST">
                    <div class ="form-group">
                        <label> Asset Title </label>
                        <input
                                type = "text"
                                name = "title"
                                th:field = "*{title}"
                                class = "form-control"
                                placeholder="Enter Asset Title"
                        />
                    </div>

                    <div class ="form-group">
                        <label>Asset Description </label>
                        <input
                                type = "text"
                                name = "description"
                                th:field = "*{description}"
                                class = "form-control"
                                placeholder="Enter Asset Description"
                        />
                    </div>

                    <div class ="form-group">
                        <label> Asset HealthyStatus </label>
                        <input
                                type = "text"
                                name = "healthyStatus"
                                th:field = "*{healthyStatus}"
                                class = "form-control"
                                placeholder="Enter true for healthy or false for need to repair"
                        />
                    </div>

<!--                    <div class ="form-group">-->
<!--                        <label> Asset Id </label>-->
<!--                        <input-->
<!--                                type = "text"-->
<!--                                name = "healthyStatus"-->
<!--                                th:field = "*{id}"-->
<!--                                class = "form-control"-->
<!--                                placeholder="Enter 1 for healthy or 0 far need to repair"-->
<!--                        />-->
<!--                    </div>-->

<!--                    <div class ="form-group">-->
<!--                        <label>  asset employee list </label>-->
<!--                        <input-->
<!--                                type = "text"-->
<!--                                name = "healthyStatus"-->
<!--                                th:field = "*{employeeAssetEntityList}"-->
<!--                                class = "form-control"-->
<!--                                placeholder="Enter 1 for healthy or 0 far need to repair"-->
<!--                        />-->
<!--                    </div>-->

<!--                    <div class ="form-group">-->
<!--                        <label> Asset category </label>-->
<!--                        <input-->
<!--                                type = "text"-->
<!--                                name = "healthyStatus"-->
<!--                                th:field = "*{categoryEntity}"-->
<!--                                class = "form-control"-->
<!--                                placeholder="Enter 1 for healthy or 0 far need to repair"-->
<!--                        />-->
<!--                    </div>-->

                    <div class = "box-footer">
                        <button type="submit" class = "btn btn-primary">
                            Submit
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>