<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div>
    <div style="float: left"><a href="addEmployee">Add New Employee</a></div>
    <div style="float: right"><a href="assetList">Asset Lists</a></div>
</div>
<p>
<!--<div th:if="${param.msg != ''}"><p th:text="#{msg.success}"></p></div>-->
<!--    در ریسورس باندل باید هندل شود-->
</p>
<div>
    <table border="1" width="100%" class="table table-hover">
        <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
<!--            <td>Birth Date</td>-->
            <td>Family</td>
<!--            <td>Show Courses</td>-->
            <td>Show assets</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="std:${list}">
            <td th:text="${std.id}"></td>
            <td th:text="${std.name}"></td>
<!--            <td th:text="${#dates.format(std.birthDate, 'yyyy/MM/dd')}"></td>-->
            <td th:text="${std.family}"></td>
<!--            <td><a th:href="@{/showCourseList/{sid}(sid=${std.id})}">Courses</a></td>-->
            <td><a th:href="@{/showAssetList/{sid}(sid=${std.id})}">Assets</a></td>
            <td><a th:href="@{/editEmployee/{sid}(sid=${std.id})}">Edit</a></td>
            <td><a th:href="@{/deleteEmployee/{sid}(sid=${std.id})}">Delete</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>